.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ee2b2b;
}

table {
  margin-left: auto;
  margin-right:auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

th {
  border: 1px solid #f8f6f6;
  background-color: rgb(247, 4, 4);
  text-align: center;
  padding: 8px;
}
td {
  margin-left: auto;
  margin-right:auto;
  border: 1px solid #fcf8f8;
  background-color: #f57979;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f52d2d;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(247, 1, 1);
}

nav a {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

a {
  color: rgb(250, 245, 245);
}

Body{
  margin-left: auto;
  margin-right:auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  background-image: url(workout.jpg);
  background-size: cover;
  color: rgb(248, 246, 246);
  align-items: center;
  justify-content: center;
}

content {
  margin-left: auto;
  margin-right:auto;
  max-width: 500px;
  margin: auto;
}

h1, h2, h3, p1, p2, p, form, link, td{
  color:#fcf8f8;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90;
}

a:link {
  margin-left: auto;
  margin-right:auto;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(252, 249, 249);
}

button {
  font: white;
  margin-left: auto;
  margin-right:auto;
  background-color: rgb(170, 163, 163)
}

 h1 {
  margin-left: auto;
  margin-right:auto;
  color: rgb(255, 255, 255)
 }

 .form {
  font: white;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
 }

 .label {
  font: white;
  margin-left: auto;
  margin-right:auto;
 }

 .Pages {
  margin-left: auto;
  margin-right:auto;
 }

 .h2 {
   color:#ee2b2b;
 }